.wrapper {
    width: 1280px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}

.header-topic {
    margin-top: 63px;
    margin-bottom: 40px;
}

.header-topic-link {
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

.black {
    color: #000000;
}

.header-navigation {
    background-color: #35444F;
    margin-bottom: 49px;
}

.header-menu {
    display: flex;
    justify-content: center;
}

.header-menu-item {
    padding: 24px 35px 18px;
    border-left: 1px solid #FFFFFF;
}

.header-menu-item:last-child {
    border-right: 1px solid #FFFFFF;
}

.header-menu-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.main-information {
    display: flex;
    margin-bottom: 54px;
}

.main-aside {
    width: 344px;
    margin-right: 52px;
}

.main-aside-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.main-aside-item {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 44px;
}

.main-aside-link {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.main-content {
    width: 885px;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    border: 1px solid #000000;
    margin-bottom: 37px;
}

.main-image-ram {
    width: 320px;
    height: 381px;
}

.main-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.main-text-introduction {
    margin-bottom: 34px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    width: 875px;
    display: flex;
    justify-content: space-between;
}

.footer-menu-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}